@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CSS */
:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		'liga' 1,
		'calt' 1;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card {
	@apply rounded-lg bg-white p-6 shadow-md;
}

/*  Hide the arrow on input[type="number"] */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
